body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
  background-image: url("../images/IMG_6168.JPG");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

.jumbotron {
  background-color: yellowgreen;
  color: black;
  text-align: center;
  padding: 10px;
}

.card {
  margin-left: 15px;
}

.card-body1{
  background-color: tomato;
}

.card-body2{
  background-color:#FFFF66;
}

.card-text1{
  font-size:20px;
  font-weight:bold;
  margin-left:25px;
  margin-bottom:15px;
}

input {
  width: 75%;
}

#clear-button{
  margin-left: 15px;
}

#city-list {
  margin-left: 15px;
  width: 22rem;
}

#city-date-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#city-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#current-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3 {
  justify-content: center;
  font-weight: bold;
  margin: 40px;
  font-size:30px;
}

h4 {
  justify-content: center;
  font-weight: bold;
  margin: 40px;
  font-size:20px;
}

h5{
  font-size:20px;
  font-weight: bold;

}

#forecast-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast {
  margin: 10px;
  padding: 20px;
}